<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employees</title>
</head>
<body>
    <h1>Employees List</h1>
    <table border="2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.role }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
